/* Error: Undefined mixin.
 *   ,
 * 6 |   @include boxFixde(100%, 20px);
 *   |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\_login.scss 6:3   @content
 *   sass\_utils.scss 50:3  sm()
 *   sass\_login.scss 5:2   @import
 *   sass\style.scss 6:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 6 \2502    @include boxFixde(100%, 20px);\d\a   \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\_login.scss 6:3   @content\a   sass\\_utils.scss 50:3  sm()\a   sass\\_login.scss 5:2   @import\a   sass\\style.scss 6:9    root stylesheet";
}
