$rootUnit: 16px !default; //rootUnit의 기본값은 16px이지만 지정된 값이 있다면 지정된 값으로 적용.
$breakpoint: 768px; //테블릿 사이즈

//@function : 블록가로 안의 연산값을 적용
@function removeUnit($value){
 @return ($value / ($value * 0 + 1)); //연산오류 방지를 위해 단위 삭제 (곱하기 핳 때 양쪽에 단위가 모두 있으면 에러가 남.)
}

@function rem($value, $base:$rootUnit){
 @return removeUnit($value / $base) * 1rem;
}

@function em($value, $base:$rootUnit){
 @return (removeUnit($value / $base)) * 1em;
}

//@mixin : 블록가로 안의 내용(스타일)을 적용
@mixin clearfix {
 &::after{
  content: "";
  display: block;
  clear: both;
 }
}

@mixin marginX($marginValue: auto) {
 margin-left: $marginValue;
 margin-right: $marginValue;
}

@mixin boxFull($width: 100vw) {
 width: $width;
 position: relative;
 left: 50%;
 margin-left: -$width / 2;
 @content;
}

@mixin boxFixed($width: 460px, $paddingX: 0) {
 width: $width;
 padding-left: $paddingX;
 padding-right: $paddingX;
 @include marginX;
 @content;
}

// 디바이스 크기에 따른 미디어쿼리
@mixin sm {
 @media screen and (max-width: $breakpoint - 1) {
  @content;
 }
}

@mixin md {
 @media screen and (min-width: $breakpoint) {
  @content;
 }
}

@mixin flexBox($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
 display: flex;
 flex-direction: $direction;
 justify-content: $justify;
 align-items: $align;
 flex-wrap: $wrap;
}

@mixin a11y {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 overflow: hidden;
 visibility: hidden;
 clip: rect(0,0,0,0);
 clip-path: inset(50%);
}

@mixin a11yFocus {
 position: absolute;
 width: 1px;
 height: 1px;
 opacity: 0;
}

@mixin custumOutline {
 box-shadow: 0 0 0 2px $outline; // boxshadow를 사용하면 border-radius 효과를 줄 수 있음
 border-radius: 2px;
}