$green: #03CF5D;
$white: #FFFFFF;
$silver: #999999;
$silverLight: #DADADA;
$silverDark: #666666;
$red: #FF1414;
$blackAlpha10: rgba(#000, 0.1);
$blackDark: #333333;


$default: $white;
$primary: $green;  //주색
$secondary: $silverLight;  //부색
$text: $blackDark;
//$accent: ;  강조색
$alpha: $blackAlpha10;
$warning: $red;  //경고색